.my-list {
    background-color: #f7f381;
    padding: 8px 24px;
    width: 500px;
    font-size: 30px;
    color:black;
    border: 1px solid red;
    box-shadow: 0 0 10px 2px #333333;
    margin: 0 auto;
}
ol {
    margin: 10px;
}
p {
    text-align: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
}
li {
    font-style: italic;
}